<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QUIZ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
  <!-- style -->
  <style media="screen">
    header {
      background-color: #bedbbb;
      text-align: center;
      padding: 20px;
    }



    a:link,
    a:visited {
      background-color: #707070;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover,
    a:active {
      background-color:#92817a;
    }

    .button {
      font-size: 20px;
      border-radius: 10px;
    }

    .regBody {
      text-align: center;
      padding: 2%;
    }

    #quiz {
      text-align: center;
    }
  </style>
</head>

<body class="regBody">
  <header>
    <h1>WELCOME TO THE QUIZ</h1>
  </header>
  <br><br><br><br>
  <h1><a href="\index2">Click here to enter the quiz</a></h1>


</body>

</html>